<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pal Horno - Contacto</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="contenedor">
		<header class="body__header">
			<div class="body__header--section-1">
				<a href="" class="body__header--hamburguesa"><i class="fa-solid fa-bars"></i></a>
			</div>
			<div class="body__header--section-2">
				<h1 class="body__header--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini.webp" title="Pal Horno" alt="Pal Horno"></a></h1>
			</div>
			<div class="body__header--section-3">
				<nav class="body__header--menu">
					<ul>
						<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
						<li><a href="/productos" title="Productos">Productos</a></li>
						<li><a href="/catering" title="Catering">Catering</a></li>
						<li><a href="/contacto" title="Contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
			<div class="body__header--section-4">
				<div class="body__header--user">
					<a href="/login" title="Inicia sesión con tu usuario"><i class="fa-solid fa-user"></i></a>
					<a href="/carrito" title="Tu carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>
				</div>
			</div>
		</header>
		<main class="body__main">
			<h1>Contacto</h1>
			<h2>Contenido ejemplo de páginas H2</h2>
			<h3>Contenido ejemplo de páginas H3</h3>
			<h4>Contenido ejemplo de páginas H4</h4>
			<p>Esto es una descripción y <a href="#">Este es un enlace</a></p>
			<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
		</main>
		<footer class="body__footer">
			<h2 class="body__footer--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini-blanco.webp" title="Pal Horno" alt="Pal Horno"></a></h2>
			<nav class="body__footer--menu">
				<ul>
					<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
					<li><a href="/productos" title="Productos">Productos</a></li>
					<li><a href="/catering" title="Catering">Catering</a></li>
				</ul>
				<ul>
					<li><a href="/como-comprar" title="Cómo comprar">Cómo comprar</a></li>
					<li><a href="/contacto" title="Contacto">Contacto</a></li>
				</ul>
			</nav>
			<aside class="body__footer--social">
				<a href="https://facebook.com/" title="Visita nuestra página en Facebook"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="https://instagram.com/" title="Visita nuestra página en Instagram"><i class="fa-brands fa-instagram"></i></a>
				<a href="mailto:contacto@palhorno.com.ar" title="Contáctanos por correo electrónico"><i class="fa-solid fa-at"></i></a>
				<a href="https://wa.me/1XXXXXXXXX?text=Quiero%20comprar%20facturas%20y%20chipacitos" title="Contáctanos por Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
			</aside>
		</footer>
	</div>
</body>
</html>