<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pal Horno - Home</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="contenedor">
		<header class="body__header">
			<div class="body__header--section-1">
				<a href="" class="body__header--hamburguesa"><i class="fa-solid fa-bars"></i></a>
			</div>
			<div class="body__header--section-2">
				<h1 class="body__header--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini.webp" title="Pal Horno" alt="Pal Horno"></a></h1>
			</div>
			<div class="body__header--section-3">
				<nav class="body__header--menu">
					<ul>
						<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
						<li><a href="/productos" title="Productos">Productos</a></li>
						<li><a href="/catering" title="Catering">Catering</a></li>
						<li><a href="/contacto" title="Contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
			<div class="body__header--section-4">
				<div class="body__header--user">
					<a href="/login" title="Inicia sesión con tu usuario"><i class="fa-solid fa-user"></i></a>
					<a href="/carrito" title="Tu carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>
				</div>
			</div>
		</header>
		<main class="body__main body__main--fix">
			<div class="body__main__home--carousel">
				Carousel
			</div>
			<div class="body__main__home--cartelera">
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#panaderia">
							<img src="/images/icon-bread.webp" alt="Panadería">
							<h2>Panandería</h2>
							<p>-- Panes, galletas, bizcochos y pizzas. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__panes"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#confiteria">
							<img src="/images/icon-croissant.webp" alt="Confitería">
							<h2>Confitería</h2>
							<p>-- Gran variedad de facturas y sandwiches de miga. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__facturas"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#pasteleria">
							<img src="/images/icon-cake.webp" alt="Pastelería">
							<h2>Pastelería</h2>
							<p>-- Postres, tortas, masas finas, budines, roscas, merengues, etc. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__tortas"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/contacto#ubicacion">
							<img src="/images/icon-map.webp" alt="Ubicación">
							<h2>Ubicación</h2>
							<p>-- Situada en el corazón de Buenos Aires --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.6785290541566!2d-58.38128180981381!3d-34.60414253254251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf173150fb%3A0x591a909a423087d4!2sMcDonald&#39;s!5e0!3m2!1ses-419!2sar!4v1658969412015!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</main>
		<footer class="body__footer">
			<h2 class="body__footer--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini-blanco.webp" title="Pal Horno" alt="Pal Horno"></a></h2>
			<nav class="body__footer--menu">
				<ul>
					<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
					<li><a href="/productos" title="Productos">Productos</a></li>
					<li><a href="/catering" title="Catering">Catering</a></li>
				</ul>
				<ul>
					<li><a href="/como-comprar" title="Cómo comprar">Cómo comprar</a></li>
					<li><a href="/contacto" title="Contacto">Contacto</a></li>
				</ul>
			</nav>
			<aside class="body__footer--social">
				<a href="https://facebook.com/" title="Visita nuestra página en Facebook"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="https://instagram.com/" title="Visita nuestra página en Instagram"><i class="fa-brands fa-instagram"></i></a>
				<a href="mailto:contacto@palhorno.com.ar" title="Contáctanos por correo electrónico"><i class="fa-solid fa-at"></i></a>
				<a href="https://wa.me/1XXXXXXXXX?text=Quiero%20comprar%20facturas%20y%20chipacitos" title="Contáctanos por Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
			</aside>
		</footer>
	</div>
</body>
</html>