<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pal Horno</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Pal Horno</h1>
        <nav>
            <ul>
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Catering</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- CONTENIDO DE PÁGINAS -->
    </main>
    <footer>
        <h2>Logo</h2>
        <nav>
            <ul>
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Catering</li>
            </ul>
            <ul>
                <li>Cómo comprar</li>
                <li>Contacto</li>
            </ul>
        </nav>
        <aside>
            <img src="" title="" alt="">
            <img src="" title="" alt="">
            <img src="" title="" alt="">
            <img src="" title="" alt="">
        </aside>
    </footer>

</body>
</html>