<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pal Horno - Home</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="contenedor">
		<header class="body__header">
			<div class="body__header--section-1">
				<a href="" class="body__header--hamburguesa"><i class="fa-solid fa-bars"></i></a>
			</div>
			<div class="body__header--section-2">
				<h1 class="body__header--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini.webp" title="Pal Horno" alt="Pal Horno"></a></h1>
			</div>
			<div class="body__header--section-3">
				<nav class="body__header--menu">
					<ul>
						<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
						<li><a href="/productos" title="Productos">Productos</a></li>
						<li><a href="/catering" title="Catering">Catering</a></li>
						<li><a href="/contacto" title="Contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
			<div class="body__header--section-4">
				<div class="body__header--user">
					<a href="/login" title="Inicia sesión con tu usuario"><i class="fa-solid fa-user"></i></a>
					<a href="/carrito" title="Tu carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>
					
				</div>
			</div>
		</header>
		<main class="body__main">
			<h1>Login</h1>
			<form action="/" method="GET" class="formulario">
				<div class="control-formulario">
					<input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="control" >
				</div>
				<div class="control-formulario">
					<input type="password" name="contrasena" placeholder="Contraseña" class="control" >
					<div class="password">
					<p  >Olvidaste tu contraseña ?</p>
					</div>
				</div>
				
				<button type="submit" class="boton-formulario">Login</button>
			   <div class="registro">
				<p> Necesito una cuenta ?</p><a href="/registro" title="crea tu usuario">Registro</a>
				</div>   
			</form>
		</main>
<footer class="body__footer">
    <h2 class="body__footer--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini-blanco.webp" title="Pal Horno" alt="Pal Horno"></a></h2>
    <nav class="body__footer--menu">
        <ul>
            <li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
            <li><a href="/productos" title="Productos">Productos</a></li>
            <li><a href="/catering" title="Catering">Catering</a></li>
        </ul>
        <ul>
            <li><a href="/como-comprar" title="Cómo comprar">Cómo comprar</a></li>
            <li><a href="/contacto" title="Contacto">Contacto</a></li>
        </ul>
    </nav>
    <aside class="body__footer--social">
        <a href="https://facebook.com/" title="Visita nuestra página en Facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://instagram.com/" title="Visita nuestra página en Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="mailto:contacto@palhorno.com.ar" title="Contáctanos por correo electrónico"><i class="fa-solid fa-at"></i></a>
        <a href="https://wa.me/1XXXXXXXXX?text=Quiero%20comprar%20facturas%20y%20chipacitos" title="Contáctanos por Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    </aside>
</footer>
</div>
</body>
</html>
