.body__main__carrito--contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.body__main__carrito--descripcion button {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px gray;
    color: red;
}

.body__main__carrito--descripcion {
    display: flex;
    width: 95%;
    text-align: left;
    padding: 5px 0;
    flex-direction: column;
    margin: 5px 0 2.5px 0;
    border: solid 1px rgba(128, 128, 128, 0.2);
}

.body__main__carrito--imagen {
    display: none;
}

.body__main__carrito--detalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
}

.p1 {
    display: inline-block;
    font-size: 15px;
    width: 30%;
    padding-left: 5px;
}

.descripcion--producto {
    font-size: 15px;
    width: 70%;
}

.body__main__carrito--descripcion hr {
    width: 95%;
    margin: 0;
}

.body__main__carrito--detalle span {
    font-size: 20px;
    font-weight: bold;
}

.body__main__carrito--detalle input {
    width: 40px;
}

