@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

/* https://coolors.co/262322-63372c-8e3200-ffbcb5-f2e5d7 */

:root {
	--CaobaOscuro: #8E3200;
	--CaobaClaro: #A64B2A;
	--Melon: #FFBCB5;
	--KakiOscuro: #D7A86E;
	--KakiClaro: #FFEBC1;
	--Almendra: #F2E5D7;
	--NegroPasa: #262322;
	--Blanco: #FFFFFF;
	--Negro: #000000;
	--tamañoNormal: 12px;
	--tamañoTitular: 24px;
	--tamañoDescripciones: 16px;
	--tamañoIconoGrande: 2em;
	--tamañoIconoMediano: 24px;
	--tamañoIconoPequeño: 16px;
}

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:hover {
	color: var(--CaobaOscuro);
	transition: 500ms;
	transform: scale(1.3);
}
a:not(:hover) {
	transition: 500ms;
}