.section__crear {
    width: 95%;
}

.form__crear {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin: 10px auto;
}

.form__box__crear {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.crear__label {
    width: 100%;
}

.crear__input {
    width: 80%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid var(--NegroPasa);
}

.crear__input--imagen {
    width: 100%;
    border-radius: 10px;
    padding: 8px;
}

.crear__select {
    border-radius: 10px;
    padding: 5px 3px;
    width: 80%;
}

.button__guardar {
    width: 40%;
    border: none;
    border-radius: 30px;
    background-color:var(--CaobaClaro);
    padding: 5px;
    color: white;
    font-size: var(--tamañoMedio);
    font-family: 'Ibarra Real Nova';
    margin: 0 10px 0 0;
}
.button__guardar:hover {
    background-color: #7e2c00;
	transition: 500ms;
}

.button__cancelar {
    width: 40%;
    border: none;
    border-radius: 30px;
    background-color:var(--MarronCeniza);
    padding: 5px;
    color: white;
    font-size: var(--tamañoMedio);
    font-family: 'Ibarra Real Nova';
    margin: 0 0 0 10px;
}
.button__cancelar:hover{
    background-color: var(--NegroPasa);
	transition: 500ms;
}

.crear__textarea {
    width: 80%;
    border: 1px solid var(--NegroPasa);
    border-radius: 5px;
}



.form__box__crear--row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

/* MEDIA QUERY | TABLET | 768px */
@media (min-width:768px) {

    .section__crear {
        width: 80%;
        margin: 0 auto;
    }

    .form__box__crear {
        padding-left: 15%;
    }

    .form__box__crear--row {
        padding-left: 15%;
        width: 80%;
    }
    
    .button__guardar {
        width: 30%;
    }

    .button__cancelar {
        width: 30%;
    }
}

/* MEDIA QUERY | DESKTOP | 1024px */
@media (min-width: 1024px) {
    .button__crear {
        padding: 5px 20px;
        font-size: var(--tamañoIconoMediano);
    }
}