.form__box__imagen img {
    display: none;
}

.formularios {
    padding: 10px;
    text-align: center;
}

.control-formularios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    margin: 30px 15% 10px;
    justify-content: center;
}

.form__box {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.form__label--small {
    font-size: var(--tamañoNormal);
}

.registros {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

/*.form__input {
    width: 100%;
    padding: 10px 0;
    border: black;
    border-bottom: 1px solid silver;
    outline: none;
}*/

.form__button {
    border: #F5F5F5;
    border-radius: 15px;
    color: rgb(17, 11, 11);
    padding: 10px;
    transition: all 450ms;
    left: -10px;
    position: relative;
}

/*.validacion{
    width: 88px;
  
    margin-top: 15px;
    justify-content: end;
} */
.controls {
    width: 88.5%;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px var(--NegroPasa);

}

.radios {
    margin-left: 25px;
}

.radios input {
    margin-right: 25px;
}

.checks {
    margin-left: 25px
}

.check inputs {
    margin: 0 25px 40px 0;
}

.boton-formularios:hover {
    background-color: var(--CaobaOscuro);
}

.boton-formularios {
    width: 140px;
    background-color: var(--CaobaClaro);
    border: none;
    font-size: var(--tamañoMedio);
    font-family: 'Ibarra Real Nova';
    color: white;
    padding: 5px;
    border-radius: 30px;
    margin-top: 10px;
    transition: all 500ms;
}

.text-danger {
    color: red;
    width: 65%;
}

.btn-Cart {
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
}
.body__header--user{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    .controls {
        width: 70%;
    }

    .form__box {
        justify-content: start;
        padding-left: 120px;
    }

    .boton-formularios {
        margin-top: 18px;
        width: 200px;
    }
}

@media (min-width:1024px) {
    .formularios {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .control-formularios {
        justify-content: end;
    }

    .form__box__imagen {
        width: 45%;
        text-align: end;
    }

    .form__box__imagen img {
        display: block;
        width: 390px;
        height: 490px;
        border: 1px solid #000000;
        border-radius: 100px 0px 0px 100px;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        padding: 0;
        margin: 3% 0 0 21%;
    }

    .form__box__formulario {
        width: 55%;
    }

    .controls {
        width: 70%;
        margin-right: 3%;
    }

    .form__box {
        padding-left: 85px;
    }

    #msgPass {
        text-align: left;
    }

    

    .body__header--user{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

}












/*.control-formularios {
position: absolute;
width: 362px;
height: 47px;
left: 840px;
top: 482px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}*/