@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('detalles.css');
@import url('login.css');
@import url('registro.css');
@import url('home.css'); /* * Página index.html */
@import url('productos.css'); /* * Página productos.html */
@import url('contacto.css'); /* * Página contacto.html */
@import url('carrito.css');
@import url('modificar.css');
@import url('crear.css');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/* https://coolors.co/262322-63372c-8e3200-ffbcb5-f2e5d7 */

:root {
	--CaobaOscuro: #8E3200;
	--CaobaClaro: #A64B2A;
	--Melon: #FFBCB5;
	--MarronCeniza: #6B5A53;
	--KakiOscuro: #D7A86E;
	--KakiClaro: #FFEBC1;
	--Almendra: #F2E5D7;
	--NegroPasa: #262322;
	--Blanco: #FFFFFF;
	--Negro: #000000;
	--Rojo: #CC0808;
	--tamañoNormal: 16px;
	--tamañoMedio: 20px;
	--tamañoGrande: 28px;
	--tamañoDescripciones: 22px;
	--tamañoTitular1: 32px;
	--tamañoTitular2: 30px;
	--tamañoTitular3: 28px;
	--tamañoTitular4: 26px;
	--tamañoIconoPequeño: 16px;
	--tamañoIconoMediano: 22px;
	--tamañoIconoGrande: 32px;
}

html {
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: url("/images/repeat-background.webp") repeat;
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:hover {
	color: var(--CaobaOscuro);
	transition: 500ms;
}
a:not(:hover) {
	transition: 500ms;
}
#contenedor {
	width: 100%;
	box-shadow: 0px 0px 8px var(--NegroPasa);
}

@media (min-width: 1300px) {
	#contenedor {
		width: 1300px;
	}
}
.boton-universal {
	padding: 1em;
	font-size: var(--tamañoMedio);
	border: none;
	border-radius: 4px;
	background-color: var(--NegroPasa);
	color: var(--Blanco);
	font-family: 'Ibarra Real Nova', serif;
	font-weight: 600;
}
.boton-universal:hover {
	background-color: var(--CaobaOscuro);
	color: var(--Blanco);
	transition: 500ms;
	cursor: pointer;
}
.boton-universal:not(:hover) {
	transition: 500ms;
}
.peligro {
	background-color: var(--Rojo);
}