<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h2>Carrito</h2>
			<div class="body__main__carrito--contenedor">
				<section class="body__main__carrito--descripcion">
					<div class="body__main__carrito--button">
					<button><i class="fa-solid fa-xmark"></i></button>
					</div>
					<hr>
					<div class="body__main__carrito--imagen">
						<img src="/images/producto-item.webp" alt="">
					</div>
					<div class="body__main__carrito--detalle">
						<p class="p1">Producto:</p>
						<p class="descripcion--producto">Descripción del producto</p>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Precio:</p>
						<p class="descripcion--producto">$400</p>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Cantidad:</p>
						<div class="detalle--cantidad">
							<span>-</span><input type="number"><span>+</span>
						</div>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Subtotal</p>
						<p class="descripcion--producto">$400</p>
					</div>
				</section>
				<section class="body__main__carrito--descripcion">
					<div class="body__main__carrito--button">
					<button><i class="fa-solid fa-xmark"></i></button>
				</div>
				<hr>
					<div class="body__main__carrito--imagen">
						<img src="/images/producto-item.webp" alt="">
					</div>
					<div class="body__main__carrito--detalle">
						<p class="p1">Producto:</p>
						<p class="descripcion--producto">Descripción del producto</p>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Precio:</p>
						<p class="descripcion--producto">$400</p>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Cantidad:</p>
						<div class="detalle--cantidad">
							<span>-</span><input type="number"><span>+</span>
						</div>
					</div>
					<hr>
					<div class="body__main__carrito--detalle">
						<p class="p1">Subtotal</p>
						<p class="descripcion--producto">$400</p>
					</div>
				</section>
			</div>
			<h2 class="h2">Total del carrito</h2>
			<div class="body__main__carrito--finalizar-contenedor">
				<section class="body__main__carrito--finalizar">
					<div class="body__main__carrito--finalizar-detalle">
						<p class="p1-2">Subtotal</p>
						<p class="descripcion--finalizar">$800</p>
					</div class="body__main__carrito--finalizar-detalle">
					<hr>
					<div class="body__main__carrito--finalizar-detalle">
						<p class="p1-2">Envío</p>
						<div class="formulario--envio">
							<form class="form" action="">
								<label for=""><input type="radio" name="envio">Costo de envío $200</label>
								<label for=""><input type="radio" name="envio">Retirar en sucursal</label>
							</form>
						</div>
					</div>
					<hr>
					<div class="body__main__carrito--finalizar-detalle">
						<p class="p1-2">Total</p>
						<p class="descripcion--finalizar">$800</p>
					</div>
					<a href="">finalizar compra</a>
			</div>
			</section>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>