<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main body__main__contacto">
			<h1>Contacto</h1>
			<p>Nuestros horarios son:</p>
			<ul>
				<li>Martes a Sábados de 8hs a 20hs</li>
				<li>Domingos de 8hs a 15hs</li>
			</ul>
			<p>Dirección: 6, Av. Corrientes 992, C1043 CABA</p>
			<p>Tel: 4241-5923</p>
			<p>Email: <a href="mailto:contacto@palhorno.com.ar" title="Contáctanos por correo electrónico">contacto@palhorno.com.ar</a></p>
			<h2 id="ubicacion">Ubicación</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.6785290541566!2d-58.38128180981381!3d-34.60414253254251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf173150fb%3A0x591a909a423087d4!2sMcDonald&#39;s!5e0!3m2!1ses-419!2sar!4v1658969412015!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>