<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main body__main--fix">
			<!-- START | Pure CSS Carousel [Dissolving Images] - Denys Mishunov -->
			<figure class="carousel dissolve">
				<img class="item" src="/images/carousel-imagen-1.webp" alt="">
				<img class="item" src="/images/carousel-imagen-2.webp" alt="">
				<img class="item" src="/images/carousel-imagen-3.webp" alt="">
				<img class="item" src="/images/carousel-imagen-4.webp" alt="">
			</figure>
			<!-- END | Pure CSS Carousel [Dissolving Images] - Denys Mishunov -->
			<div class="body__main__home--cartelera">
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#panaderia">
							<img src="/images/icon-bread.webp" alt="Panadería">
							<h2>Panandería</h2>
							<p>-- Panes, galletas, bizcochos y pizzas. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__panes"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#confiteria">
							<img src="/images/icon-croissant.webp" alt="Confitería">
							<h2>Confitería</h2>
							<p>-- Gran variedad de facturas y sandwiches de miga. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__facturas"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/productos#pasteleria">
							<img src="/images/icon-cake.webp" alt="Pastelería">
							<h2>Pastelería</h2>
							<p>-- Postres, tortas, masas finas, budines, roscas, merengues, etc. --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa producto__tortas"></div>
				</div>
				<div class="body__main__home--cartelera--divisiones">
					<div class="cartelera__divisiones--baldosa">
						<a href="/contacto#ubicacion">
							<img src="/images/icon-map.webp" alt="Ubicación">
							<h2>Ubicación</h2>
							<p>-- Situada en el corazón de Buenos Aires --</p>
						</a>
					</div>
					<div class="cartelera__divisiones--baldosa">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.6785290541566!2d-58.38128180981381!3d-34.60414253254251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf173150fb%3A0x591a909a423087d4!2sMcDonald&#39;s!5e0!3m2!1ses-419!2sar!4v1658969412015!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</main>
		<%- include('./partials/footer') %>
	</div>
	
	<script defer src="/js/index.js"></script>
</body>
</html>