<%- include('./partials/head', {
	title: 'Pal Horno - Nosotros'
}) %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Nosotros</h1>
			<p>Con más de 25 años en Buenos Aires elaborando productos de confitería, pastelería y bombones de gran calidad y variedad, también ofrecemos el servicio de catering para particulares y empresas, cuidando y ampliando las variedades según las preferencias del cliente y la temporada.</p>
			<p>Seguimos la tradición y el trabajo con las mejores materias primas que garantizan la calidad del producto final y la satisfacción del cliente. Día a día nuestros experimentados pasteleros ponen al horno toda su dedicación y esfuerzo que combinada con la mejor atención, es la fórmula perfecta para entregar un excelente producto.</p>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>