<%- include('./partials/head', {title: 'Borrar' }) %>
<body>
	<div id="contenedor">
		<%- include('./partials/header')  %>
		<main class="body__main">
			<!-- CONTENIDO - INICIO -->

			

			<!-- CONTENIDO - FINAL -->
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>