<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Productos</h1>
			<p>Aquí encontrarás todos los productos que con tanto cariño creamos para que los disfrutes.</p>
			<p>Puedes adquirir algunos en la tienda online y todos en la tienda física.</p>
			<h2 id="panaderia">Panadería</h2>
			<div class="body__main__productos--contenedor">
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
			</div>
			<h2 id="confiteria">Confitería</h2>
			<div class="body__main__productos--contenedor">
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
			</div>
			<h2 id="pasteleria">Pastelería</h2>
			<div class="body__main__productos--contenedor">
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
				<div class="productos__contenedor--item">
					<a href="/productos/detalles">
						<img src="/images/producto-item.webp" alt="Item">
						<p class="productos__contenedor--item--nombre">Nombre de producto</p>
						<p class="productos__contenedor--item--precio">$1000</p>
					</a>
				</div>
			</div>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>