<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Login</h1>
			<form action="" method="POST" class="formulario">
				<div class="control-formulario">
					<input type="text" name="email" placeholder="Email" class="control" >
					<small class="text-danger"></small>
				</div>
				<div class="control-formulario">
					<input type="password" name="contraseña" placeholder="Contraseña" class="control" >
					<small class="text-danger"></small>
					<div class="password">
					<p>Olvidaste tu contraseña ?</p>
					</div>
				</div>
				<button type="submit" class="boton-formulario">Login</button>
				<div class="registro">
				<p>Necesito una cuenta ?</p><a href="/usuarios/registro" title="crea tu usuario">Registro</a>
				</div>   
			</form>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>
