<footer class="body__footer">
	<h2 class="body__footer--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini-blanco.webp" title="Pal Horno" alt="Pal Horno"></a></h2>
	<nav class="body__footer--menu">
		<ul>
			<li><a href="/" title="Inicio">Inicio</a></li>
			<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
			<li><a href="/productos" title="Productos">Productos</a></li>
		</ul>
		<ul>
			<li><a href="/catering" title="Catering">Catering</a></li>
			<li><a href="/como-comprar" title="Cómo comprar">Cómo comprar</a></li>
			<li><a href="/contacto" title="Contacto">Contacto</a></li>
		</ul>
	</nav>
	<aside class="body__footer--social">
		<a href="https://facebook.com/" title="Visita nuestra página en Facebook"><i class="fa-brands fa-facebook-f"></i></a>
		<a href="https://instagram.com/" title="Visita nuestra página en Instagram"><i class="fa-brands fa-instagram"></i></a>
		<a href="mailto:contacto@palhorno.com.ar" title="Contáctanos por correo electrónico"><i class="fa-solid fa-at"></i></a>
		<a href="https://wa.me/1XXXXXXXXX?text=Quiero%20comprar%20facturas%20y%20chipacitos" title="Contáctanos por Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
	</aside>
</footer>
<%- include('./scripts') %> 