<header class="body__header">
	<div class="body__header--section-1">
		<a href="" class="body__header--hamburguesa"><i class="fa-solid fa-bars"></i></a>
	</div>
	<div class="body__header--section-2">
		<h1 class="body__header--logo"><a href="/" title="Pal Horno"><img src="/images/logo-mini.webp" title="Pal Horno" alt="Pal Horno"></a></h1>
	</div>
	<div class="body__header--section-3">
		<nav class="body__header--menu">
			<ul>
				<li><a href="/" title="Inicio">Inicio</a></li>
				<li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
				<li><a href="/productos" title="Productos">Productos</a></li>
				<li><a href="/catering" title="Catering">Catering</a></li>
				<li><a href="/contacto" title="Contacto">Contacto</a></li>
			</ul>
		</nav>
	</div>
	<div class="body__header--section-4">
		<div class="body__header--user">
			<% if (locals.userLogin) { %>
				<% if(locals.userLogin.rolId == 2){ %> 
					<% } %>
					<a href="/usuarios/perfil" title="Ingresá a tu perfil"<%= userLogin.nombre %> >Mi perfil<i class="fa-regular fa-user"></i></a><!--cambiosuserlogin.nombre y id-->
				<a href="/carrito" title="Tu carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>
				
				<a href="/usuarios/logout"  id="btn-logout" title="Cerrar sesión"<%= userLogin.id %>  ><i class="fa-solid fa-right-from-bracket"></i></a>
				
				<% } else {%>
		<!--	<a href="/usuarios/login" title="Inicia sesión con tu usuario"><i class="fa-solid fa-user"></i></a>-->
		<a href="/usuarios/registro" id="link-register">Creá tu cuenta <i class="fas fa-address-card"></i></a>
		<a href="usuarios/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
			<% } %> 	
		</div>
	</div>
</header>